/*
html, body {
    background: #0b0b0b url("../img/bg.png") center no-repeat;
}

body {
    height: 100%;
    background: none;
}*/

html, body {
    background: #0b0b0b;
}

.no-break {
    display:inline;
}

#server-image {
    width: 100%;
}

/*
#main-nav .navbar-nav > li > a {
    font-size: 15pt;
    padding-top: 23px;
    padding-bottom: 23px;
}*/
/*

#user-interaction > li {
    padding-top: 20px;
}

#user-interaction > li > .btn {
    height: 20px;
    color: #FFFFFF;
}
*/
